	<div class="col-md-3 left_col">
	  <div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
			<a href="{{ app.base_url }}index.php/dashboards" class="site_title">
				<span id="spanin"><span style="color:red;">b</span>hr</span>
				<!--<img src="{{ web.asset_url }}images/logo.png" class="" alt="BimSym Logo" style="height:30px;margin-top: 10px;">-->
			</a>
		</div>
		<div class="clearfix"></div>
		<!-- menu profile quick info -->
		<div class="profile clearfix">
			<div class="profile_pic">
				<img  src="{{ app.base_url ~ app.get_profile_pic }}" alt="{{ app.login_username}}" class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>Welcome,</span>
				<h2>{{ app.login_username}}</h2>
			</div>
		</div>
		<!-- /menu profile quick info -->
		<br/>

		<!-- sidebar menu -->
		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		  <div class="menu_section">
				<ul class="nav side-menu">
					<li><a href="{{ app.base_url }}index.php/dashboards"><i class="fa fa-desktop"></i> Dashboard </a></li>
					{{ web.print_menu|raw }}
				</ul>
		  </div>
		</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
		  <a data-toggle="tooltip" data-placement="top" title="Settings">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		  </a>
		  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
			<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
		  </a>
		  <a data-toggle="tooltip" data-placement="top" title="Lock">
			<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
		  </a>
		  <a data-toggle="tooltip" data-placement="top" title="Logout">
			<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
		  </a>
		</div>
		<!-- /menu footer buttons -->
	  </div>
	</div>
	<!-- top navigation -->
	<div class="top_nav">
	  <div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>
			<div class="nav Branch_Title" style="">
				<h2>BimSym Tech Support</h2>
			</div>

			<ul class="nav navbar-nav navbar-right">
				
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img   src="{{ app.base_url ~ app.get_profile_pic }}" alt="{{ app.login_username }}"> Welcome, 
						<?php
							echo login_username();
						?>
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li><a href="javascript:void(0);" onclick="javascript:viewprofile( '<?php echo  get_user_id();?>', '{{ app.base_url }}index.php/users/my_profile');"><i class="fa fa-user pull-right"></i> Profile</a></li>

						<li><a href="{{ app.base_url }}index.php/Login/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
					</ul>
				</li>
				{% if app.get_user_role in [ '1','2','3','4'] %}
					<li class="" id="leave_list" >
						<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class=" fa fa-bell"></span><span class="badge bg-info  pull-right">2</span>
						</a>
						<ul class="dropdown-menu dropdown-usermenu pull-right" id="noti_list">
							<li class="leave_note"> <a href="{{ app.base_url }}index.php/Leave_Applications" > View All Notifications  <i class="pull-right fa fa-arrow-right" title=" View All Notifications"></i> </a></li>
							
						</ul>
					</li>
				{% endif %}
			</ul>
		</nav>
	  </div>
	</div>
	<!-- /top navigation -->
	<!-- page content -->